.meal-card .card {
  border-radius: 5%;
  width: 18rem;
  margin: 20px 0px 20px 0px;
}

.meal-card .card-image {
  border-radius: 5% 5% 0% 0%;
}

.meal-card .card-title {
  height: 50px;
  margin-bottom: 30px;
  align-items:center;
  justify-content: center;
  display: flex;
}
.meal-card .meal-card-button {
  background-color: #F8A030 !important;
  text-decoration: none !important;
  color: #000 !important;
}

.meal-card .meal-card-button:hover {
  background-color: #FF6600 !important;
  color: #FFF !important;
}