.jumbotron{
    background-image: linear-gradient(rgba(5, 5, 5, 0.28), rgba(255, 255, 255, 0.156)), url('./Jumbotron.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.jumbotron h1, h2 {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.jumbotron .search-input {
    width: 50%;
    margin-top: 40px;
}

.jumbotron .search-button {
    background-color: #d8d4d4 !important;
    text-decoration: none !important;
    color: #000 !important;
}

.jumbotron .search-button:hover{
    background-color: #d83535 !important;
    color: #FFF !important;
}